body {
  background-image: url(images/lefke.jpg);
   background-size: 100% auto;
}

.baslik {
height: 75px;
position: relative;
margin-top: 1em ;
padding-top: 0.5em;
background-color: green;
text-align: center;

}

.kutu {
margin-top: 10px;
margin-left: 10px;
padding-top: 2%;
padding-inline: 2%;
padding-bottom: 2%;
float:left;
height: auto;
border: 2px solid forestgreen;
background-color: whitesmoke
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  background-color: forestgreen;
}